*,
*::before,
*::after {
  /* box-sizing: border-box; */
}

:root {
  --ff-primary: "Open Sans", sans-serif;
  --ff-secondary: "Poppins", sans-serif;
  --ff-sofia: "Sofia Pro", sans-serif;
  font-size: 16px;
  --fw-reg: 300;
  --fw-bold: 900;
  font-family: var(--ff-sofia);
  --clr-light: #f0f0f3;
  --clr-accent: #0182fe;
  --clr-primary: #151965;
  --clr-secondary: #212798;
  --fs-h1: 3rem;
  --fs-h2: 2.75rem;
  --fs-h3: 1.25rem;
  --fs-p:0.4rem
  --fs-body: 3rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
  transition: font-size 250ms;
}

.next {
  position: fixed;
  right: 10px;
  bottom: 10px;
}
.prev {
  position: fixed;
  left: 10px;
  bottom: 10px;
}

@media (min-width: 800px) {
  :root {
    font-size: 18px;
    --fs-h1: 4.5rem;
    --fs-h2: 2.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
  
}

@media (max-width: 900px) {
  :root {
    font-size: 14px;
  }
  header ul {
    display: none;
  }
  header{
    flex-direction: row;
  }

  .page{
    padding:  0em;
    height: max-content;
  }
  .page1{
      padding: 0em;

  }
  .page1,
.page2,
.page3,
.page4,
.page5,
.page6,
.page7 {
  height: max-content;
  padding: 0em;
}
  .page1 img{
    min-width: 80%;
    margin-top:3em ;
    padding-right: 2em;
  }
  .container{
    padding-top: 5em;
    padding-left: 0;
    /* margin:0 auto; */
  }
  .container p {
    width: 100%;
  }
  *{
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
/* .shade {
  position: fixed;
  width: 40%;
  height: 50%;
  left: 35%;
  top: 35%;
  z-index: 0;
  margin: 0 auto;
  background: rgba(58, 169, 215, 0.29);
  filter: blur(200px);
}
.shade2 {
  position: fixed;
  width: 250px;
  height: 250px;
  left: 50%;
  top: 50%;
  z-index: 0;
  background: rgba(21, 25, 101, 0.56);
  filter: blur(750px);
} */
/* General styles */
html {
  scroll-behavior: smooth;
  /* overflow: hidden; */
}

body {
  margin: 0;
  color: black;
  font-size: var(--fw-reg);
  font-size: var(--fs-body);
  background-color: var(--clr-light);
}

/* BUTTONS */

.contact-us {
  font-size: 0.8em;
  text-decoration: none;
  color: var(--clr-light);
  padding: 0.25em 0.75em;
  margin: 2em 2em;
  background-color: var(--clr-secondary);
  border-radius: 10px;
}

.get-started {
  display: inline-block;
  text-decoration: none;
  color: var(--clr-light);
  background-color: var(--clr-accent);
  border-radius: 0.8em;
  box-shadow: 0.1em 0.1em 0 black;
  padding: 0.8em 2em;
  position: relative;
  top: 1em;
  transition: transform box-shadow 100ms;
}

.get-started:active {
  /* transform: translateX(2.3em); */
  transform: translateX(0.1em) translateY(0.1em);
  box-shadow: none;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.submit {
  text-align: center;
  margin-top: 1em;
  color: var(--clr-light);
  background-color: var(--clr-accent);
  border-radius: 0.8em;
  padding: 0.5em 2em;
  outline: none;
  border: none;
}
/* Header */

header {
  font-family: var(--ff-secondary);
  padding-left: 3em;
  padding-right: 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-light);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

header ul {
  list-style-type: none;
}
header li {
  font-size: 0.8em;
  padding: 1em;
  float: left;
}
header li a {
  text-decoration: none;
  color: black;
}

.logo {
  flex: 2;
}
.logo-img {
  max-width: 8em;
}
.page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  /* scroll-snap-align: start; */
}
.page1,
.page2,
.page3,
.page4,
.page5,
.page6,
.page7 {
  padding-left: 5.5em;
}
.container {
  /* padding: 5.5rem 6rem 2rem; */

  height: 100vh;
  z-index: 100;
  /* scroll-snap-type: y mandatory;
  overflow-y: scroll; */
}
.page1 {
  display: flex;
  padding-right: 3em;
  align-items: center;
}
.page1 h1 {
  color: var(--clr-primary);
  font-size: 3.5em;
  margin: 0;
  font-family: var(--ff-primary);
}
.page1-h1{
    font-weight: 900;
}
.page1 p {
  max-width: 60%;
}
.page1 img {
  max-width: 40%;
}

.page2 {
  display: flex;
  align-items: center;

  padding-right: 5.5em;
}
.page2-h2,
.page3-h2,
.page4-h2 {
  flex: 50;
  color: var(--clr-primary);
  font-size: var(--fs-h2);
  text-transform: uppercase;
}
.page2-h2 span,
.page3-h2 span,
.page4-h2 span,
.page5-h2 span,
.page6-h2 span {
  color: var(--clr-accent);
  display: block;
}
.page2-p {
  flex: 50;
  font-size: var(--fs-p);
  font-weight: 500;
}

.page3 {
  height: 100vh;
  display: flex;
  align-items: center;
}
.page3-h2 {
  font-size: 2em;
  min-width: 7em;
}

.page4 {
  display: flex;
  justify-content: center;
}
.page4 article {
  min-width: 40vw;
}
.page4 img {
  flex: 50;
  width: 40vw;
}
.page5-h2,
.page6-h2,
.page8 h2 {
  color: var(--clr-primary);
  font-size: 2em;
}
.page8 h2 {
  text-transform: uppercase;
}
.page5,
.page6 {
  height: 100vh;
  display: flex;
  align-items: center;
}
.page6 {
  padding-right: 5.5em;
}
.article {
  flex: 1;
}
.page5 p,
.page6 p {
  font-size: var(--fs-p);
  font-weight: 300;
  width: 80%;
}
.page7 {
  height: 100vh;
}
.flex-image {
  display: flex;
}
.images {
  height: 12em;
}
.three-images .images {
  width: 14em;
}

.page8 {
  flex-direction: column;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.page8 h2 {
  text-align: center;
}
.icons {
  display: flex;
  justify-content: center;
}
.icon {
  padding: 1.2em;
  text-align: center;
  font-weight: 300;
  font-size: 0.8em;
}
.contact-icons {
  max-width: 2em;
}
.macbook {
  flex: 2;
  height: 60vh;
}
.services {
  font-size: 0.6em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.service {
  z-index: 1000;
  max-width: 28vh;
  margin: 1.2em;
  padding: 1em 3em;
  border-radius: 10px;
  box-shadow: 10px 10px 30px #969696, -10px -10px 30px #ffffff;
  transition: transform 100ms;
}
.service p {
  font-weight: 300;
}

.service:hover,
.service-h1:hover {
  transform: scale(1.2);
}
/* FOOTER */

footer {
  position: fixed;
  right: 6em;
  bottom: 2em;
}
footer a {
  padding: 1em;
}
footer a img {
  width: 1.5em;
}

/* BOTTOM SHEET */

.bottom-sheet {
  /* position: relative; */
  /* top: 10vh; */
  border-radius: 10px 10px 0px 0px;
  box-shadow: 10px 10px 30px #969696, -10px -10px 30px #ffffff;
  padding-bottom: 1em;
}
label,
input {
  display: block;
}
label {
  margin-bottom: 0.3em;
}
input {
  border-radius: 17px;
  border: none;
  height: 2em;
  width: 20em;
  padding: 0.5em;
  margin-bottom: 1em;
  outline-style: none;
}

.flex-sheet {
  display: flex;
}

.flex-sheet div {
  padding: 1em;
}
