*,
*::before,
*::after {
  /* box-sizing: border-box; */
}

:root {
  --ff-primary: "Open Sans", sans-serif;
  --ff-secondary: "Poppins", sans-serif;
  --ff-sofia: "Sofia Pro", sans-serif;
  font-size: 5px;
  --fw-reg: 300;
  --fw-bold: 900;
  font-family: var(--ff-sofia);
  --clr-light: #f0f0f3;
  --clr-accent: #0182fe;
  --clr-primary: #151965;
  --clr-secondary: #212798;
  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-p: 1.3rem;
  line-height: 1.5;
  /* --fs-body: 3rem; */
  --bs: 0.1em 0.1em 0 black;
  transition: font-size 250ms;
}

* {
  z-index: 10;
}

textarea {
  resize: none;
  border: none;
  padding: 1em;
  width: 25em;
}
.message {
  padding: 1em;
}

@media (max-width: 1000px) {
  :root {
    font-size: 12px;
  }
  .page1 h1 {
    font-size: 1em;
  }
  .page3 {
    flex-direction: column;
  }
}

html {
  scroll-behavior: smooth;
  /* overflow: hidden; */
}

.on {
  color: var(--clr-accent);
  font-weight: bold;
}
body {
  margin: 0;
  font-size: var(--fw-reg);
  font-size: var(--fs-body);
  background-color: var(--clr-light);
  text-align: center;
}

header {
  font-family: var(--ff-secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-light);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  width: 100vw;
  text-align: left;
  padding-left: 1em;
  padding-right: 1em;
}

header ul {
  display: none;
}
header a {
  display: none;
}

.hamburger {
  width: 2em;
  margin-right: 2em;
  display: block;
  position: relative;
  transition: transform 300ms;
}

/* MENU */

.nav {
  font-family: var(--ff-secondary);
  position: fixed;
  background: white;
  color: #272727;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav_list {
  list-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-link {
  color: inherit;
  font-weight: var(--fw-bold);

  font-size: 30px;
  text-decoration: none;
}

.nav-link:hover {
  color: var(--clr-accent);
}
.nav-toggle {
  padding: 0.5em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 1em;
  z-index: 1000;
}

.nav-open .nav {
  transform: translateX(0);
}

.nav-open .hamburger {
  transform: rotate(180deg);
}

/* LOGO */

.logo {
  padding:1em ;
}
.logo-img {
  max-width: 8em;
}

.container {
  margin-top: 8em;
  padding: 0 1em;
}
.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em 0;
}

/* PAGE1 */

.page1 img {
  max-width: 100%;
}
.page1 h1 {
  color: var(--clr-primary);
  font-size: 3em;
  margin: 0;
  font-family: var(--ff-primary);
}

.page1-h1 span {
  display: block;
  color: transparent;
  -webkit-text-stroke: 1px black;
}
.get-started {
  margin: 0 auto;
  text-decoration: none;
  color: var(--clr-light);
  background-color: var(--clr-accent);
  border-radius: 0.8em;
  box-shadow: 0.1em 0.1em 0 black;
  padding: 0.8em 2em;
  position: relative;
  top: 1em;
  transition: transform box-shadow 100ms;
}

.get-started:active {
  transform: translateX(2.3em);
  transform: translateX(0.1em) translateY(0.1em);
  box-shadow: none;
}

/* PAGE2 */
.page2-h2,
.page3-h2,
.page4-h2
 {
  font-size: 46px;
  font-family: var(--ff-sofia);
  text-transform: uppercase;
  color: var(--clr-primary);
}
.page2-h2 span,
.page3-h2 span,
.page4-h2 span{
  font-size: 46px;
  color: var(--clr-accent);
  display: block;
}
.page2-p{
  font-size: var(--fs-p);
  font-weight: 300;
}

.services {
  font-size: 0.6em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.service {
  /* z-index: 1000; */
  max-width: 80%;
  font-family: var(--ff-secondary);
  color: #2c2c2c;
  margin: 1.2em;
  padding: 1em 3em;
  border-radius: 10px;
  background: #f0f0f3;
  box-shadow: 10px 10px 20px  #9EA8BD, -10px -10px 35px #ffffff;

  transition: transform 250ms;
  font-size: 17.94px;
}


.service p {
  font-size: 11.96px;
  font-weight: 300;
}

/* PAGE 4 */
.view-our-works {
  width: fit-content;
  text-decoration: none;
  color: var(--clr-light);
  background-color: var(--clr-accent);
  border-radius: 0.8em;
  box-shadow: 0.1em 0.1em 0 black;
  padding: 0.8em 2em;
  transition: transform box-shadow 100ms;
}
.view-our-works:active {
  transform: translateX(2.3em);
  transform: translateX(0.1em) translateY(0.1em);
  box-shadow: none;
}


img {
  width: 100%;
}

.work-page-h2{
  color: var(--clr-primary);
    font-weight: 700;
    font-size: 48.11px;
    text-transform: uppercase;
    text-align: center;
}
.work-page-h2 span{
  color: var(--clr-accent);
}
.page5-h2{
  font-size: 30px;
  color: var(--clr-primary) ;
  font-weight: 700;
}
.page7-h2{
color: var(--clr-primary);
font-size:50px ;
}
.page7-h2 span{
  color: var(--clr-accent);
}
.page5 p,.page6 p,.page6 p{
  font-family: var(--ff-secondary);
  font-size: 17px;
}
.page7 img {
  width: 50%;
}
.flex-image {
  align-items: center;
}
.page7 a {
  top: 4em;
}

.ongoing-work p{
color: var(--clr-primary);
font-size: 28px;
font-weight: 700;
}
.come-work-with-us {
  text-decoration: none;
  text-align: center;
  color: var(--clr-light);
  background-color: var(--clr-accent);
  border-radius: 0.8em;
  box-shadow: 0.1em 0.1em 0 black;
  padding: 0.8em 2em;
  position: relative;
  top: 1em;
  transition: transform box-shadow 100ms;
}

.page8 {
  padding-top: 3em;
}

.page8 h2 {
  font-size: var(--fs-h2);
  text-transform: uppercase;
  color: var(--clr-primary);
}
.page8 h2 span {
  color: var(--clr-accent);
}
.icons {
  display: flex;
  justify-content: space-between;
}
.icon img {
  width: 2em;
}
/* BOTTOM SHEET */

.bottom-sheet {
  /* position: relative; */
  /* top: 10vh; */
  background-color: whitesmoke;
  border-radius: 10px 10px 0px 0px;
  box-shadow: -10px -10px 30px #ffffff, 10px 10px 30px #9ea8bd;
  padding-bottom: 1em;
}
label,
input {
  display: block;
}
label {
  margin-bottom: 0.3em;
}
input {
  border-radius: 11px;
  border: none;
  height: 2em;
  width: 300px;
  padding: 0.5em;
  margin-bottom: 1em;
  outline-style: none;
}

.details {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.submit {
  text-align: center;
  margin-top: 1em;
  color: var(--clr-light);
  background-color: var(--clr-accent);
  border-radius: 0.8em;
  padding: 0.5em 2em;
  outline: none;
  border: none;
}

/* FOOTER */

/* FOOTER */

footer {
  display: none;
}

@media (min-width: 760px) {
  .container {
    z-index: 1000;
    margin-top: 0;
    padding-top: 4em;
    height: 100vh;
  }
  .page1 img {
    max-width: 60%;
  }
}

@media (min-width: 1000px) {
  body {
    text-align: unset;
    height: 100vh;
  }
  :root {
    font-size: 18px;
  }
  header {
    font-family: var(--ff-secondary);
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header li {
    font-size: 17.08px;
    font-weight: var(--fw-reg);

    float: left;
  }
  header li a {
    text-decoration: none;
    color: black;
  }

  header ul {
    display: inline-block;
    list-style-type: none;
  }
  header a {
    display: inline-block;
    font-size: 0.8em;
    padding: 1em;
    float: left;
    text-decoration: none;
    color: black;
  }
  .tab {
    transition: 0.3 ease tranform;
  }
  .active-tab {
    transform: scale(1.2);
    font-weight: bold;
    background-color: var(--ff-secondary);
    color: var(--clr-primary);
  }

  .hamburger {
    display: none;
  }
  .nav {
    display: none;
  }
  .logo {
    flex: 2;
  }
  .logo-img {
    max-width: 8em;
  }
  .contact-us {
    font-size: 17px;
    font-family: var(--ff-secondary);
    text-decoration: none;
    color: var(--clr-light);
    padding: 0.25em 0.75em;
    margin: 0 3em;
    background-color: var(--clr-secondary);
    border-radius: 5.7px;
  }
  .container {
    /* padding: 5.5rem 6rem 2rem; */
    /* margin-top: 1em; */
    padding-top: 2em;
    z-index: 100;
    /* scroll-snap-type: y mandatory;
  overflow-y: scroll; */
  }
  .page {
    height: 100vh;
    padding: 0;
  }
  .page1 {
    display: flex;
    padding: 1em;
    align-items: center;
  }
  .page1{
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    width: 90%;
  }
  .page1 h1 {
    position: relative;
    margin: 0;
    font-size: 70.42px;
    font-weight: 900;
    font-family: var(--ff-sofi);
  }
  .page1-h1 span {
    -webkit-text-stroke: 2px black;
  }
  /* .page1-h1 span::after{
    content: "";
    position: absolute;
    width: 1px;
    height: 30%;
    top: -100px;
    border-right: 2px solid var(--clr-primary);
  } */
  /* #type-animation{
    border-right: solid white 4px;
  height: 35px;
  } */
  .page1 p {
    font-size: 21.67px;
    max-width: 60%;
  }
  .page1 img {
    max-width: 40%;
  }
  .page2 {
    display: flex;
    align-items: center;
    padding-right: 3.5em;
  }
  .page2-h2,
  .page3-h2,
  .page4-h2 {
    flex: 50;
    padding: 1em;
    color: var(--clr-primary);
    font-weight: 700;
    font-size: 48.11px;
    text-transform: uppercase;
  }
  .page2-h2 span,
  .page3-h2 span,
  .page4-h2 span {
    color: var(--clr-accent);
    display: block;
  }
  .page2-p {
    flex: 50;
    font-size: 18.04px;
    font-weight: 400;
  }
  .page3 {
    display: flex;
    align-items: center;
    padding-left: 2em;
  }

  .service {
    max-width: 28vh;
    font-size: 1.2em;
  }
  .service:hover {
    transform: scale(1.2);
  }

  .page4 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .page4 article {
    min-width: 40vw;
    display: flex;
    flex-direction: column;
  }
  .page4 h2 {
    padding: 0;
  }
  .page4 img {
    flex: 50;
    width: 40vw;
    margin: 0;  
  }
 #work-in-progree{
   display: flex;
   flex-direction: column;
 }
  .page8 h2 {
    text-transform: uppercase;
  }
  #works{
    display: block;
    height: fit-content;
  }
  .work-page {
    padding: 0 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--ff-sofia);

  }
  .work-page img {
    width:320px ;
    padding: 10px;
    }
  .page5-h2 {
    width :60%;
    font-size: 64px;
    color: red;
  }
  .article {
    flex: 1;
  }
  .work-page h2{
    color: var(--clr-primary);
    font-size: 46px;
    font-weight: 700;
    width: 60%;
  }
  .work-page p {
    font-size: 17.34px;
    font-weight: 400;
    width: 80%;

  }

  .flex-image {
    display: flex;
    justify-content: space-between;
  }
  .images {
    padding: 2em;
    height: 12em;
    width: 13em;
  }
  .work-in-progress{
align-items: center;
justify-content: center;  }
  .progress{
    display: flex;

justify-content: center;
align-items: center;  }
.ongoing-work{
  text-align: center;
}
  .ongoing-work img{
    width: 50%  ;
  }
  .page7 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .three-images .images {
    width: 14em;
  }

  .page8 {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .page8 h2 {
    text-align: center;
  }
  .icons {
    display: flex;
    justify-content: center;
  }
  .icon {
    padding: 1.2em;
    text-align: center;
    font-weight: 300;
    font-size: 0.8em;
  }
  .contact-icons {
    max-width: 2em;
  }
  .macbook {
    flex: 2;
    /* height: 50vh; */
    width: 40vw;
  }

  .bottom-sheet {
    /* position: relative; */
    /* top: 10vh; */
    border-radius: 10px 10px 0px 0px;
    box-shadow: 10px 10px 30px #969696, -10px -10px 30px #ffffff;
    padding-bottom: 1em;
  }
  form {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  label,
  input {
    display: block;
  }
  label {
    margin-bottom: 0.3em;
  }
  input {
    border-radius: 17px;
    border: none;
    height: 2em;
    width: 25em;
    padding: 0.5em 1em;
    outline-style: none;
  }
  /* .theInput {
    border-radius: 17px;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 0;
    height: 2em;
  }
  .theInput img {
    width: 20px;
    padding-left: 1em;
  } */
  .flex-sheet {
    display: flex;
  }
  .bottom-sheet {
    padding: 1em;
  }

  /* FOOTER */

  footer {
    display: block;
    position: fixed;
    right: 6em;
    bottom: 2em;
  }
  footer a {
    padding: 1em;
  }
  footer a img {
    width: 1.5em;
  }

  .shade2 {
    top: 8em;
    right: 12em;
    width: 200px;
    height: 200px;
    background: #3aa9d7;
    filter: blur(500px);
  }
}
.background {
  position: fixed;
  z-index: 0;
  order: -1;
}
[class^="gradient-text"] {
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.gradient-text1 {
  background-color: #833ab4;
  background-image: linear-gradient(45deg, #833ab4, #fd1d1d, #fcb045);
}
.gradient-text2 {
  background-color: #006dc6;
  background-image: linear-gradient(45deg, #006dc6, #86c64d);
}

.gradient-text3 {
  background-color: #d16ba5;
  background-image: linear-gradient(45deg, #d16ba5, #86a8e7, #5ffbf1);
}

.gradient-text4 {
  background-color: #006dc6;
  background-image: linear-gradient(45deg, #006dc6, #86c64d);
}

.gradient-text5 {
  background-color: #006dc6;
  background-image: linear-gradient(45deg, #006dc6, #86c64d);
}

.gradient-text6 {
  background-color: #006dc6;
  background-image: linear-gradient(45deg, #006dc6, #86c64d);
}

/* .cursor {
  position: fixed;
  width: 20px;
  z-index: ;
  height: 20px;
  border-radius: 50%;
  background: blue;
  transition: 0.1s;
  transform: translate(-50%, -50%);
  pointer-events: none;
} */
